<h1>LISTA DE LA COMPRA</h1>
<table>
  <table style="width: 100%; border: 1px solid black;">
    <tr>
      <th>Estado del Producto</th>
      <th>Nombre</th>
    </tr>
    <ng-container *ngFor="let producto of productos index as i;">
      <tr *ngIf="producto.comprado == false">
        <td>
          <button (click)="onClickComprado(i)">Comprar</button>
        </td>

        <td>{{producto.nombre}}</td>
      </tr>
    </ng-container>
  </table>
</table>

<h2>Productos Comprados:</h2>
<ng-container *ngFor="let producto of productos index as i;">
  <li *ngIf="producto.comprado">{{producto.nombre}} <button (click)="onClickComprar(i)">Volver a comprar</button></li>
</ng-container>
